body, h1, li, ul, a, h3, div {
  font-style: inherit;
  text-decoration: none;
  font-size: 18px;
  list-style: none;
  padding: 0;
  margin: 0;
  border: none;
  display: block;
  font-family: sans-serif;
  background: none;
}

.group:after {
  content: "";
  height: 0;
  display: block;
  clear: both;
}

/* HEADER */

.header {
  padding-top: 200px;
  background: url(../images/space-background.jpg) top center fixed;
  background-size: 100% 1000px;
  height: 475px;
  color: white;
  padding-bottom: 100px;
}

h1 {
  font-size: 70px;
  text-align: center;
  position: relative;
  bottom: 40px;
  font-weight: bold;
}

ul.contacts {
  display: block;
  align: center;
  width: 30%;
  min-width: 250px;
  margin: 0 auto;

}

ul.contacts li {
  margin: 30px;
  height: 32px;
  width: 32px;
  display: inline-block;
  overflow: hidden;
  box-shadow: 0px -10px 30px -5px rgba(130,172,255,1);
}

ul.contacts li#gmail-link {
  height: 28px;
}


ul.contacts li#gmail-link img{
  position: relative;
  top: -4px;
}

ul.contacts li#tumblr-link {
  border-radius: 3px;
}

ul.contacts li#github-link {
  border-radius: 50%;
}
p.intro {
  width: 100%;
  padding-top: 60px;
  text-align: center;
  line-height: 40px;
  position: absolute;

}

/* PORTFOLIO */

main.main-content {
  position: relative;
  bottom: 100px;
background: transparent;

}

div.col-space {
  padding-top: 100px;
  background: linear-gradient(
    to bottom,
    rgba(255,255,255,0) 0%,
    rgba(255,255,255,1) 100%
  );
}

div.left-col {
  box-sizing: border-box;
  width: 30%;
  background: green;
  height: 500px;
  float: left;
  margin-top: 200px;

  margin-left: 30px;
}

div.right-col {
  box-sizing: border-box;
  width: 60%;
  float: right;
  padding-left: 20px;
  border-left: 1px solid black;
  margin: 50px 20px 40px 20px;
  background: transparent;
}

div.portfolio-box {

  margin-bottom: 20px;
  width: 100%;
  min-width: 575px;
  height: 150px;
}

div.portfolio-box:first-child {
  margin-top: 20px;
}

div.link-box {
  float: left;
  height: 100%;
}

a.work-preview {
  display: block;
  border: 1px solid red;
  width: 170px;
  height: 150px;
  background: none;
  margin-top: -1px;
  margin-left: -1px;
  transition: background 200ms;
}

a.work-preview:hover {
  background: red;
}

div.work-desc {
  box-sizing: border-box;
  float: left;
  width: 70%;
  padding-left: 50px;
  margin-top: 24px;
}

div.work-desc h3 {
  font-size: 24px;
}

ul.portfolio {
  margin-left: 200px;
}
