body, h1, li, ul, a, h3, div {
  font-style: inherit;
  text-decoration: none;
  font-size: 18px;
  list-style: none;
  padding: 0;
  margin: 0;
  border: none;
  display: block;
  font-family: 'Lato', sans-serif;
  background: none;
  box-sizing: border-box;
}

.group:after {
  content: "";
  height: 0;
  display: block;
  clear: both;
}

body {
  background: url(../images/space-background.jpg) top center fixed;
  background-size: 100% 1000px;
}

/* HEADER */

.header {
  padding-top: 100px;
  color: white;
}

h1 {
  font-size: 70px;
  text-align: center;
  position: relative;
  font-weight: bold;
}

ul.contacts {
  display: block;
  align: center;
  width: 380px;
  margin: 0 auto;
  text-align: center;
}

ul.contacts li {
  margin: 30px 15px;
  height: 32px;
  width: 32px;
  display: inline-block;
  overflow: hidden;
  box-shadow: 0px -10px 30px -5px rgba(130,172,255,1);
}

ul.contacts li#gmail-link {
  height: 28px;
}


ul.contacts li#gmail-link img{
  position: relative;
  top: -4px;
}

ul.contacts li#tumblr-link {
  border-radius: 3px;
}

ul.contacts li#github-link {
  border-radius: 50%;
}
p.intro {
  width: 85%;
  padding: 0 20px;
  padding-top: 60px;
  text-align: center;
  line-height: 40px;
  margin: 0 auto;
}

/* PORTFOLIO */

main.main-content {
  position: relative;
}

div.col-space {
  padding-top: 100px;
  background: linear-gradient(
    to bottom,
    rgba(255,255,255,0) 0%,
    rgba(255,255,255,0.99) 30%,
    rgba(255,255,255,0.99) 90%,
    rgba(255,255,255,0) 100%
  );
  white-space: nowrap;
}

div.left-col {
  vertical-align: top;
  background: transparent;
  box-sizing: border-box;
  color: black;
  display: inline-block;
  width: 30%;
  padding: 20px;
  margin-top: 100px;
  padding-left: 30px;
}

div.right-col {
  background: transparent;
  box-sizing: border-box;
  width: 70%;
  display: inline-block;
  margin: 50px 0 40px 0;
}

div.left-col, div.right-col {
  white-space: normal;
}

div.portfolio-box {
  background: white;
  margin-bottom: 20px;
  width: 100%;
  min-width: 575px;
  height: 150px;
  white-space: nowrap;
}

div.portfolio-box:first-child {
  margin-top: 20px;
}

div.link-box {
  width: 30%;
  display: inline-block;
  height: 100%;
}

a.work-preview {
  background: black;
  display: block;
  width: 170px;
  height: 150px;
  transition: background 500ms;
}

video {
  image-fit: fill;
  margin: 28px 0;
}
a.work-preview img {
  margin: 11px 0;
  width: 170px;
}

a#portfolio-git {
  display: inline-block;
  position: relative;
  top: 5px;
  left: 10px;
}

div.work-desc {
  box-sizing: border-box;
  display: inline-block;
  width: 70%;
  padding-left: 15px;
  margin-top: 24px;
  vertical-align: top;
  white-space: normal;
}

div.work-desc h3 {
  font-size: 24px;
}

ul.portfolio {
  margin-left: 200px;
}

video {
  width: 100%;
}

@media handheld, screen and (max-width: 900px) {

  p.intro {
    padding: 0;
    width: 90%;
  }

  div.left-col, div.right-col {
    width: 100%;
    display: block;
    padding: 20px;
  }

  div.left-col {
    margin-top: 0;
  }

  div.right-col {
    margin: 0;
  }

  div.work-desc {
    margin-top: 10px;
  }
}

@media handheld, screen and (max-width: 620px) {
  div.col-space {

    background: linear-gradient(
      to bottom,
      rgba(255,255,255,0) 0%,
      rgba(255,255,255,0.99) 15%,
      rgba(255,255,255,0.99) 95%,
      rgba(255,255,255,0) 100%
    );
  }

  div.portfolio-box {
    min-width: 0;
    height: auto;
    margin-bottom: 90px;
  }

  div.link-box, div.work-desc {
    width: 100%;
    display: block;
    height: auto;
  }

  div.work-desc {
    padding-bottom: 10px;
  }

  a.work-preview {
    width: auto;
    height: auto;
  }

  a.work-preview img {
    width: 100%;
  }
}
